engine-strict=true
strict-peer-dependencies=false
public-hoist-pattern[]=husky
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=commitizen
public-hoist-pattern[]=turbo
public-hoist-pattern[]=@changesets/*
public-hoist-pattern[]=typescript
public-hoist-pattern[]=@vitejs/*
public-hoist-pattern[]=vite*
public-hoist-pattern[]=eslint
public-hoist-pattern[]=eslint-*
public-hoist-pattern[]=@typescript-eslint/*
public-hoist-pattern[]=prettier
public-hoist-pattern[]=lint-staged
